{% extends 'base.html.twig' %}

{% block title %}{{ annonce.title }}{% endblock %}

{% block body %}

<div class="container">
        {% for message in app.flashes('message') %}
       		<div class="p-3 my-2 rounded-2 success">{{ message }}</div>
    	{% endfor %}
        
    <div class="caroulix" id="caroussel" data-ax="caroulix">
    {% for image in annonce.images %}
        <div class="flex vcenter fx-center caroulix-item">
            <img id="banniere" src="{{ asset('uploads/images/' ~ image.name) }}" alt="{{ annonce.title }}" />
        </div>
    {% endfor %}
    </div>

    <div class="grix xs2 sm3 gutter-0 card">
        {# <div class="primary flex vcenter fx-center">
            <img id="square" src="{{ asset('uploads/images/' ~ annonce.images[0].name) }}" alt="{{ annonce.title }}">
        </div> #}
        <div class="col-sm2">
            <div class="card-header">{{ annonce.title }}</div>
            <div class="card-content">
                <p>Catégorie : {{ annonce.categories.name }}</p>
                <p>{{ annonce.content|raw }}</p>
                <p>
                    <button class="btn rounded-1 blue press modal-trigger" data-target="modale-contact">Contacter l'annonceur</button>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal shadow-1 white falling" id="modale-contact" data-ax="modal">
  <div class="modal-header">Contacter l'annonceur</div>
  <div class="divider"></div>
    {{ form_start(form) }}
  <div class="modal-content">
    {{ form_widget(form.title) }}
    {{ form_row(form.email) }}
    {{ form_row(form.message) }}
  </div>

  <div class="divider"></div>

  <div class="modal-footer">
    <button class="btn small blue ml-auto">Envoyer</button>
    <button data-target="modale-contact" class="ml-auto btn shadow-1 rounded-1 small primary modal-trigger">Fermer</button>
  </div>
    {{ form_end(form) }}
</div>


{% endblock %}
{% block javascripts %}
    <script>
        window.onload = () => {
            document.querySelector("#annonces_contact_title").value = "{{ annonce.title|raw }}"
        }
        let caroulix = new Axentix.Caroulix('#caroussel', {
        animationDuration: 600,
        indicators: {
            enabled: false,
            isFlat: false
        }
        });
        let modal = new Modal('#modale-contact')
    </script>
{% endblock %}